In [30]:
import pandas as pd
import numpy as np
import ast

In [31]:
import sys
print(sys.executable)

/home/linux-ubuntu/neo4j_env/bin/python

In [32]:
movies = pd.read_csv('datasets/tmdb_5000_movies.csv')
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [33]:
credits = pd.read_csv('datasets/tmdb_5000_credits.csv')
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [34]:
tmdb = movies.merge(credits, on="title")
tmdb.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [35]:
tmdb = tmdb [[
    'title',
    'genres',
    'cast',
    'crew',
    'release_date'
]]
tmdb.head()

                                      title  ... release_date
0                                    Avatar  ...   2009-12-10
1  Pirates of the Caribbean: At World's End  ...   2007-05-19
2                                   Spectre  ...   2015-10-26
3                     The Dark Knight Rises  ...   2012-07-16
4                               John Carter  ...   2012-03-07

[5 rows x 5 columns]

In [36]:
def get_director(crew):
    crew = ast.literal_eval(crew)
    for person in crew:
        if person ['job'] == 'Director':
            return person['name']
    return None

tmdb['director'] = tmdb['crew'].apply(get_director)
tmdb.head()

                                      title  ...           director
0                                    Avatar  ...      James Cameron
1  Pirates of the Caribbean: At World's End  ...     Gore Verbinski
2                                   Spectre  ...         Sam Mendes
3                     The Dark Knight Rises  ...  Christopher Nolan
4                               John Carter  ...     Andrew Stanton

[5 rows x 6 columns]

In [37]:
def get_cast(cast):
    cast = ast.literal_eval(cast)
    return [actor['name'] for actor in cast[:5]]

tmdb['actors'] = tmdb['cast'].apply(get_cast)
tmdb.head()

                                      title  ...                                             actors
0                                    Avatar  ...  [Sam Worthington, Zoe Saldana, Sigourney Weave...
1  Pirates of the Caribbean: At World's End  ...  [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2                                   Spectre  ...  [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3                     The Dark Knight Rises  ...  [Christian Bale, Michael Caine, Gary Oldman, A...
4                               John Carter  ...  [Taylor Kitsch, Lynn Collins, Samantha Morton,...

[5 rows x 7 columns]

In [38]:
def extract_names(text):
    text = ast.literal_eval(text)
    return [item['name'] for item in text]

tmdb['genres'] = tmdb['genres'].apply(extract_names)
tmdb.head()

                                      title  ...                                             actors
0                                    Avatar  ...  [Sam Worthington, Zoe Saldana, Sigourney Weave...
1  Pirates of the Caribbean: At World's End  ...  [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2                                   Spectre  ...  [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3                     The Dark Knight Rises  ...  [Christian Bale, Michael Caine, Gary Oldman, A...
4                               John Carter  ...  [Taylor Kitsch, Lynn Collins, Samantha Morton,...

[5 rows x 7 columns]

In [39]:
print(tmdb.columns)
tmdb.shape

Index(['title', 'genres', 'cast', 'crew', 'release_date', 'director',
       'actors'],
      dtype='str')

(4809, 7)

In [40]:
tmdb['year'] = pd.to_datetime(tmdb['release_date'], errors='coerce').dt.year
tmdb['year'] = tmdb['year'].astype('Int64')
print(list(tmdb.columns))
# tmdb.head()

['title', 'genres', 'cast', 'crew', 'release_date', 'director', 'actors', 'year']

In [41]:
tmdb = tmdb.drop(columns=['cast', 'crew', 'release_date'])
tmdb.head()

                                      title  ...  year
0                                    Avatar  ...  2009
1  Pirates of the Caribbean: At World's End  ...  2007
2                                   Spectre  ...  2015
3                     The Dark Knight Rises  ...  2012
4                               John Carter  ...  2012

[5 rows x 5 columns]

In [42]:
imdb = pd.read_csv('datasets/imdb_top_1000.csv')
imdb.head()

                                         Poster_Link  ...        Gross
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...   28,341,469
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...  134,966,411
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...  534,858,444
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...   57,300,000
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...  ...    4,360,000

[5 rows x 16 columns]

In [43]:
imdb.columns

Index(['Poster_Link', 'title', 'year', 'Certificate', 'Runtime', 'genre',
       'imdb_rating', 'Overview', 'Meta_score', 'director', 'actor1', 'actor2',
       'actor3', 'actor4', 'No_of_Votes', 'Gross'],
      dtype='str')

In [44]:
imdb['actors_imdb'] = imdb[['actor1', 'actor2','actor3', 'actor4']].values.tolist()
imdb['year'] = pd.to_numeric(imdb['year'], errors='coerce').astype('Int64')
imdb = imdb[['title', 'year', 'imdb_rating', 'actors_imdb']]
imdb.head()

                      title  ...                                        actors_imdb
0  The Shawshank Redemption  ...  [Tim Robbins, Morgan Freeman, Bob Gunton, Will...
1             The Godfather  ...  [Marlon Brando, Al Pacino, James Caan, Diane K...
2           The Dark Knight  ...  [Christian Bale, Heath Ledger, Aaron Eckhart, ...
3    The Godfather: Part II  ...  [Al Pacino, Robert De Niro, Robert Duvall, Dia...
4              12 Angry Men  ...  [Henry Fonda, Lee J. Cobb, Martin Balsam, John...

[5 rows x 4 columns]

In [45]:
final_data = tmdb.merge(imdb, on=['title', 'year'], how='left')
final_data.head()

                                      title  ...                                        actors_imdb
0                                    Avatar  ...  [Sam Worthington, Zoe Saldana, Sigourney Weave...
1  Pirates of the Caribbean: At World's End  ...                                                NaN
2                                   Spectre  ...                                                NaN
3                     The Dark Knight Rises  ...  [Christian Bale, Tom Hardy, Anne Hathaway, Gar...
4                               John Carter  ...                                                NaN

[5 rows x 7 columns]

In [46]:
final_data = final_data[[
    'title',
    'genres',
    'actors',
    'director',
    'year',
    'imdb_rating'
]]
final_data.head()
final_data.shape

(4809, 6)

In [47]:
final_data.iloc[0]

title                                                     Avatar
genres             [Action, Adventure, Fantasy, Science Fiction]
actors         [Sam Worthington, Zoe Saldana, Sigourney Weave...
director                                           James Cameron
year                                                        2009
imdb_rating                                                  7.8
Name: 0, dtype: object

In [48]:
pip install neo4j

Requirement already satisfied: neo4j in /home/linux-ubuntu/neo4j_env/lib/python3.12/site-packages (6.1.0)
Requirement already satisfied: pytz in /home/linux-ubuntu/neo4j_env/lib/python3.12/site-packages (from neo4j) (2025.2)
Note: you may need to restart the kernel to use updated packages.

In [53]:
# from neo4j import GraphDatabase
# import pandas as pd

# URI = "bolt://localhost:7687"
# USER = "neo4j"
# PASSWORD = "12345678"

# class MovieGraph:
#     def __init__(self, uri, user, password):
#         self.driver = GraphDatabase.driver(uri, auth=(user, password))

#     def close(self):
#         self.driver.close()


#     def add_movies(self, movies_df):
#         with self.driver.session() as session:
#             for _, row in movies_df.iterrows():

#                 genres = row['genres'].split('|')
                
#                 session.execute_write(self._create_movie_and_genres, row['title'], row['movieId'], genres)

#     @staticmethod
#     def _create_movie_and_genres(tx, title, movie_id, genres):
#         tx.run("MERGE (m:Movie {id: $id, title: $title})", id=movie_id, title=title)
        
#         for genre_name in genres:
#             tx.run("""
#                 MERGE (g:Genre {name: $name})
#                 WITH g
#                 MATCH (m:Movie {id: $id})
#                 MERGE (m)-[:IN_GENRE]->(g)
#             """, name=genre_name, id=movie_id)


# df = pd.read_csv('datasets/movies.csv')

# app = MovieGraph(URI, USER, PASSWORD)
# print("white")
# app.add_movies(df.head(100))
# app.close()
# print("end")

In [56]:
from neo4j import GraphDatabase
import pandas as pd

URI = "bolt://localhost:7687"
USER = "neo4j"
PASSWORD = "12345678"

class MovieGraph:
    def __init__(self, uri, user, password):
        self.driver = GraphDatabase.driver(uri, auth=(user, password))

    def close(self):
        self.driver.close()

    def add_movies(self, df):
        with self.driver.session() as session:
         for _, row in df.iterrows():

            genres = row['genres'] if isinstance(row['genres'], list) else []
            actors = row['actors'] if isinstance(row['actors'], list) else []

            session.execute_write(
               self._create_full_movie,
               row['title'],
               int(row['year']),
               float(row['imdb_rating']),
               genres,
               actors,
               row['director']
            )

    @staticmethod
    def _create_full_movie(tx, title, year, rating, genres, actors, director):

        #Movie Node
        tx.run("""
           MERGE (m:Movie {title: $title})
           SET m.year = $year,
               m.rating = $rating
        """, title = title, year = year, rating = rating)
        

        #Genres
        for g in genres:
            tx.run("""
               MERGE (genre:Genre {name: $g})
               WITH genre
               MATCH (m:Movie {title: $title})
               MERGE (m)-[:HAS_GENRE]->(genre)
            """, g = g, title = title)

        #Actors
        for a in actors:
            tx.run("""
               MERGE (actor:Actor {name: $a})
               WITH actor
               MATCH (m:Movie {title: $title})
               MERGE (actor)-[:ActED_IN]->(m)
            """, a = a, title = title)

        #Director
        tx.run("""
           MERGE (d:Director {name: $director})
           WITH d
           MATCH (m:Movie {title: $title})
           MERGE (d)-[:DIRECTED]->(m)
        """, director = director, title = title)

In [57]:
app = MovieGraph(URI, USER, PASSWORD)

app.add_movies(final_data.head(500)) 

app.close()

print("Graph created!")

Graph created!